name: dependabot-auto-merge

on:
  pull_request_target:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: minor
          # needs push access to repo
          github-token: ${{ secrets.DEPENDABOT_AUTOMERGE_PUSH_TOKEN }}
          command: "squash and merge"
